{% extends "../layouts/_master.twig" %}

{% block title %}
	[A0016] Advanced Storage on AWS | Phan Hinh
{% endblock %}

{% block content %}
	<div class="post__content py-3 mx-auto">
		<h1 class="mb-4">[A0016] Advanced Storage on AWS</h1>
        <div>
			<p><strong>Lưu ý:</strong> Các bài mình viết mang tính chất Note lại kiến thức đang học, nếu có sai sót mong các bạn thông cảm 🥲.</p>
            <p>À, còn một điều nữa là mình đang học khóa của <a href="https://www.udemy.com/user/stephane-maarek/" target="_blank" rel="noopener noreferrer">Stephane Maarek</a>, nên nội dung mình Note có thể giống <s>giống y hệt</s>. Mà mình không biết lên các mục như nào nên mình dùng các mục như chương trình học kia luôn và sẽ bổ sung thêm các phần khác (<s>Nếu mình chăm :v</s>).</p>
            <p>Nếu có điều kiện các bạn hãy ủng hộ tác giả để họ có động lực tạo ra các khóa học khác hay hơn nữa nhé 😁. Link khóa học mình để bên dưới:</p>
            <div class="callout callout-info">
                <a href="https://www.udemy.com/course/aws-certified-solutions-architect-associate-saa-c03/" target="_blank" rel="noopener noreferrer">Ultimate AWS Certified Solutions Architect Associate SAA-C03</a>
            </div>

            <hr>

            <h2>1. AWS Snow Family</h2>
            <p>- Mình hiểu cái này là những <b>thiết bị vật lý</b> giúp chúng ta <b>chuyển dữ liệu</b> từ ngoài lên AWS hoặc từ AWS ra bên ngoài</p>
            <p>- Câu hỏi đặt ra là có mạng kết nối đến AWS là chuyển dữ liệu ra vào được rồi, sao còn phải dùng cái trên?</p>
            <p>Đó là do giới hạn về thời gian truyền khi sử dụng mạng đến AWS khi cần truyền một lượng lớn dữ liệu lên tới 100TB (Terabyte), 1PB (Petabyte) và hơn thế là rất mất nhiều thời gian.</p>
            <p>- Có 2 trường hợp sử dụng:</p>
            <ul>
                <li>
                    <b>Data migration</b>: Snowcone, Snowball Edge, Snowmobile
                </li>
                <li>
                    <b>Edge computing</b>: Snowcone, Snowball Edge
                </li>
            </ul>
            <p>- Hiện tại có 3 loại sau: </p>
            <table class="table table-bordered">
                <thead class="text-center bg-info">
                    <tr>
                        <th rowspan="2" class="align-middle bg-secondary">Trường hợp</th>
                        <th rowspan="2" class="align-middle bg-secondary">Thông số</th>
                        <th colspan="2" class="align-middle">Snowcone</th>
                        <th colspan="2" class="align-middle">Snowball Edge</th>
                        <th rowspan="2" class="align-middle">Snowmobile</th>
                    </tr>
                    <tr>
                        <th class="align-middle">Snowcone</th>
                        <th class="align-middle">Snowcone SSD</th>
                        <th class="align-middle">Storage Optimized</th>
                        <th class="align-middle">Compute Optimized</th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    <tr>
                        <td rowspan="4" class="align-middle">Data migration</td>
                        <td>Storage Capacity</td>
                        <td>8 TB HDD</td>
                        <td>14 TB SSD</td>
                        <td>80 TB HDD</td>
                        <td></td>
                        <td>< 100 PB</td>
                    </tr>
                    <tr>
                        <td>Migration Size</td>
                        <td colspan="2">Up to 24 TB with 3 Snowcone devices</td>
                        <td colspan="2">Up to petabytes (PB)</td>
                        <td>Up to exabytes (EB)</td>
                    </tr>
                    <tr>
                        <td>Transfer</td>
                        <td colspan="2">Online and Offline</td>
                        <td colspan="2">Offline</td>
                        <td>Offline</td>
                    </tr>
                    <tr>
                        <td>DataSync agent</td>
                        <td colspan="2">Pre-installed</td>
                        <td colspan="2"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Edge Computing</td>
                        <td>Specifications</td>
                        <td colspan="2">
                            <ul>
                                <li>2 vCPUs, 4 GB memory</li>
                                <li>Wired or wireless access</li>
                                <li>USB-C power using a cord or the optional battery</li>
                            </ul>
                        </td>
                        <td>
                           <ul>
                                <li>40 vCPUs, 80 GiB RAM</li>
                                <li>80 TB Storage</li>
                           </ul> 
                        </td>
                        <td>
                            <ul>
                                <li>104 vCPUs, 416 GiB RAM</li>
                                <li>Optional GPU</li>
                                <li>28 TB NVMe or 42 TB HDD Storage</li>
                                <li>Up to 16 nodes storage clustering</li>
                            </ul>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <p>- Để dễ dàng sử dụng thiết bị Snow Family thì chúng ta có thể sử dụng <b>AWS OpsHub</b>. Nó cung cấp giao diện trực quan, dễ sử dụng hơn việc dùng CLI.</p>
            <p>- Snowball không thể chuyển dữ liệu trực tiếp đến <b>Amazon Glacier</b>. Mà phải thông qua Amazon S3 trước, rồi từ S3 set lifecycle policy để đưa vào Glacier.</p>
            <h2>2. Amazon FSx</h2>
            
        </div>
        <div>
            <i>Còn tiếp...</i>
        </div>
    </div>
    <script src="https://utteranc.es/client.js" repo="hinhphan/hinhphan.github.io-comments" issue-term="A0016" theme="github-light" crossorigin="anonymous" async></script>
{% endblock %}
