{% extends "../layouts/_master.twig" %}

{% block title %}
	[A0016] Advanced Storage on AWS | Phan Hinh
{% endblock %}

{% block content %}
	<div class="post__content py-3 mx-auto">
		<h1 class="mb-4">[A0016] Advanced Storage on AWS</h1>
        <div>
			<p><strong>Lưu ý:</strong> Các bài mình viết mang tính chất Note lại kiến thức đang học, nếu có sai sót mong các bạn thông cảm 🥲.</p>
            <p>À, còn một điều nữa là mình đang học khóa của <a href="https://www.udemy.com/user/stephane-maarek/" target="_blank" rel="noopener noreferrer">Stephane Maarek</a>, nên nội dung mình Note có thể giống <s>giống y hệt</s>. Mà mình không biết lên các mục như nào nên mình dùng các mục như chương trình học kia luôn và sẽ bổ sung thêm các phần khác (<s>Nếu mình chăm :v</s>).</p>
            <p>Nếu có điều kiện các bạn hãy ủng hộ tác giả để họ có động lực tạo ra các khóa học khác hay hơn nữa nhé 😁. Link khóa học mình để bên dưới:</p>
            <div class="callout callout-info">
                <a href="https://www.udemy.com/course/aws-certified-solutions-architect-associate-saa-c03/" target="_blank" rel="noopener noreferrer">Ultimate AWS Certified Solutions Architect Associate SAA-C03</a>
            </div>

            <hr>

            <h2>1. AWS Snow Family</h2>
            <p>- Mình hiểu cái này là những <b>thiết bị vật lý</b> giúp chúng ta <b>chuyển dữ liệu</b> từ ngoài lên AWS hoặc từ AWS ra bên ngoài</p>
            <p>- Câu hỏi đặt ra là có mạng kết nối đến AWS là chuyển dữ liệu ra vào được rồi, sao còn phải dùng cái trên?</p>
            <p>Đó là do giới hạn về thời gian truyền khi sử dụng mạng đến AWS khi cần truyền một lượng lớn dữ liệu lên tới 100TB (Terabyte), 1PB (Petabyte) và hơn thế là rất mất nhiều thời gian.</p>
            <p>- Có 2 trường hợp sử dụng:</p>
            <ul>
                <li>
                    <b>Data migration</b>: Snowcone, Snowball Edge, Snowmobile
                </li>
                <li>
                    <b>Edge computing</b>: Snowcone, Snowball Edge<br>
                </li>
            </ul>
            <p>- Hiện tại có 3 loại sau: </p>
            <div class="mb-3">
                <a href="../assets/images/a0016_01.png" data-toggle="lightbox" data-title="">
                  <img src="../assets/images/a0016_01.png" class="img-fluid mb-2" alt="Snow family"/>
                </a>
            </div>
            <p>- Để dễ dàng sử dụng thiết bị Snow Family thì chúng ta có thể sử dụng <b>AWS OpsHub</b>. Nó cung cấp giao diện trực quan, dễ sử dụng hơn việc dùng CLI.</p>
            <p>- Snowball không thể chuyển dữ liệu trực tiếp đến <b>Amazon Glacier</b>. Mà phải thông qua Amazon S3 trước, rồi từ S3 set lifecycle policy để đưa vào Glacier.</p>
            <h2>2. Amazon FSx</h2>
            <p>- Là sử dụng hệ thống tệp có hiệu năng cao bên thứ 3 trên AWS và toàn quyền quản lý dịch vụ</p>
            <p>- Hiện tại có 4 loại: </p>
            <ul>
                <li>FSx for Windows File Server</li>
                <li>FSx for Lustre</li>
                <li>FSx for NetApp ONTAP</li>
                <li>FSx for OpenZFS</li>
            </ul>
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">FSx for Windows File Server</h4>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Là hệ thống tệp Windows</li>
                        <li>Hỗ trợ <a href="https://en.wikipedia.org/wiki/Server_Message_Block" target="_blank" rel="noopener noreferrer">SMB</a> (Server Message Block) protocol và NTFS</li>
                        <li>Tích hợp <a href="https://en.wikipedia.org/wiki/Active_Directory" target="_blank" rel="noopener noreferrer">Microsoft Active Directory</a>, ACLs (Access Control List), user quotas (Hạn ngạch người dùng)</li>
                        <li>Có thể <b>mounted</b> vào Linux EC2</li>
                        <li>Hỗ trợ <b>Microsoft's Distributed File System (DFS) Namespaces</b> (group files across multiple FS)</li>
                        <li>Scale up to 10s of GB/s, millions of IOPS, 100s PB of data (chỗ này mình thấy dùng tiếng Việt cứ cấn cấn nên giữ nguyên :v)</li>
                        <li>
                            Lựa chọn lưu trữ:
                            <ul>
                                <li><b>SSD</b>: Phù hợp với các công việc cần độ trễ thấp (latency) (databases, media processing, data analytics,...)</li>
                                <li><b>HDD</b>: Khối lượng công việc lớn (home directory, CMS,...)</li>
                            </ul>
                        </li>
                        <li>Có thể truy cập từ <b>on-premises</b> thông qua <b>VPN</b> or <b>Direct Connect</b></li>
                        <li>Có thể <b>Multi-AZ (high availability)</b></li>
                        <li>Được backup hàng ngày đến S3</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">FSx for Lustre</h4>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Tên <b>Lustre</b> là kết hợp giữa <b>Linux</b> và <b>Cluster</b></li>
                        <li>Là hệ thống tệp phân tán song song (a type of parallel distributed file system) (mình cũng chưa hiểu chỗ này lắm 😂)</li>
                        <li>Dùng cho tính toán có quy mô lớn (large-scale computing): Machine Learning, High Performance Computing (HPC), Video Processing, Financial Modeling, Electronic Design Automation,...</li>
                        <li>Scales up to 100s GB/s, millions of IOPS, sub-ms latencies</li>
                        <li>
                            Lựa chọn lưu trữ:
                            <ul>
                                <li><b>SSD</b>: Độ trễ thấp (low latency), IOPS (In Out Per Second) intensive (chuyên sâu) workloads, truy cập tệp tin nhỏ và ngẫu nhiên</li>
                                <li><b>HDD</b>: Khối công việc lớn, xử lý tuần tự (large & sequential)</li>
                            </ul>
                        </li>
                        <li>Có thể <b>tích hợp</b> với <b>S3</b>: <b>READ</b> và <b>WRITE</b> S3 thông qua FSx</li>
                        <li>Có thể sử dụng ở các máy on-premises thông qua VPN hoặc Direct Connect</li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <i>Còn tiếp...</i>
        </div>
    </div>
    <script src="https://utteranc.es/client.js" repo="hinhphan/hinhphan.github.io-comments" issue-term="A0016" theme="github-light" crossorigin="anonymous" async></script>
{% endblock %}
