{% extends "../layouts/_master.twig" %}

{% block title %}
	[A0016] Advanced Storage on AWS | Phan Hinh
{% endblock %}

{% block content %}
	<div class="post__content py-3 mx-auto">
		<h1 class="mb-4">[L0000] Tìm hiểu về framework Laravel</h1>
        div
        <div>
			
        </div>
    </div>
    <script src="https://utteranc.es/client.js" repo="hinhphan/hinhphan.github.io-comments" issue-term="A0016" theme="github-light" crossorigin="anonymous" async></script>
{% endblock %}
