{% extends "layouts/_master.twig" %}

{% block title %}
    {{ index.title }}
{% endblock %}

{% block content %}
    <div class="posts__container py-3">
        <div class="card-columns">
            <div class="card hvr-float mb-5">
                <img class="card-img-top" src="https://placehold.co/1630x860"></img>
                <div class="card-body">
                    <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa ...</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate sed ab nobis odit dolor corrupti doloribus! Tenetur quod fugiat quo. Nisi saepe aliquam, omnis veritatis expedita quis maiores ab quod.</p>
                </div>
                <a href="#" class="stretched-link"></a>
            </div>
        </div>
    </div>
{% endblock %}